body {
	font-family: sans-serif;
}

#results ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon {
    content: 'Geen icoon';
}

.file, .directory {
    display: block;
    float: left;
    height: 160px;
    width: 128px;
    margin: 8px;
}

.name {
    max-width: 128px;
    overflow-x: hidden;
    display: block;
    max-height: 2ex;
}

.file .icon {
    display: block;
    width: 100%;
    border: solid 1px black;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/icons/48px/_blank.png');
}

.directory .icon { 
    display: block;
    width: 100%;
    border: solid 1px black;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/static/icons/folder.gif');
}

#credits {
    clear: both;
    padding-top: 64px;
}

#credits li {
    float: left;    
    padding-right: 1.4em;
    list-style-type: none;
}

#credits li + li {
    list-style-type: disc;
}

{% filetypes %}