<div id="desktop" class="desktop">
	<a class="runnable icon" href="/search">
		<img src="/static/search.png">
		<span>Zoeken</span>
	</a>
	<a class="runnable icon" href="/navigate">
		<img src="/static/computer.png">
		<span>Mappen van {% user %}</span>
	</a>
	<a class="single notwide unescaped runnable icon" href="/hub/share">
		<img src="/static/netwerk.png">
		<span>Netwerkhub</span>
	</a>
	<a class="single notwide unescaped runnable icon" href="/hub/message">
		<img src="/static/winpopup.png">
		<span>Berichten</span>
	</a>
	<a class="single runnable icon" href="/about">
		<img src="/static/about.png">
		<span>Over Deeldoos 95</span>
	</a>
	<span id="toot"></span>
</div>