<html>
	<head>
		<title>Deeldoos</title>
		<style type="text/css">	
			{% style %}
		</style>
	</head>
	<body>
		{% content %}
		<div id="credits">
			<ul>
				<li><a href="http://www.borreh.nl/">rob</a></li>
				<li><a href="https://github.com/strandtentje/apollogeese">apollogeesse</a></li>
				<li><a href="https://github.com/strandtentje/Free-file-icons">icons</a></li>
			</p>
		</div>
		<script type="text/javascript" src="/static/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/static/automaat.js"></script>
	</body>
</html>