body, html {
    height: 100%;
}

body {
	font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background: #bbb;
}

.toolbar {
    background: #bbb;
    border: outset #ddd 1px;
}

.toolbar ul {
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
}

.toolbar ul li {
    display: block;
    float: left;
}

.toolbar ul:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    width: 0;
    visibility: hidden;
    font-size: 0;
}

.toolbar ul li a {
    text-decoration: none;
    color: black;        
    padding: 8px 8px;
    border: solid transparent 1px;
}

.toolbar .label {
    padding: 8px;
    line-height: 20px;
}

.toolbar .faux.field {
    border: inset 1px white;
    background: white;
    float: left;
    min-width: 8cm;
    margin: 0px 8px;
    padding: 2px;
    position: relative;
}

.toolbar ul li a:hover {
    border: outset #ddd 1px;
}

.toolbar ul li a.selected {
    border: inset #ddd 1px;
}

.toolbar form {
    display: inline;
    padding: 0;
    margin: 0;
}

#results {
    clear: both;
}

#results ul {
    height: 100%;
    overflow-y: scroll;
}

.toolbar + #results ul {
    height: calc(100vh - 34px);
}

.toolbar + .toolbar + #results ul {
    height: calc(100vh - 66px);
}

.toolbar + .toolbar + .toolbar + #results ul {
    height: calc(100vh - 98px);
}

.toolbar + .toolbar + .toolbar + .toolbar + #results ul {
    height: calc(100vh - 130px);
}

#credits {
    clear: both;
}

#credits ul {
    margin: 0;
    padding: 0;
    list-style-type: none;    
}

#credits li {
    display: block;
    float: left;
    border: solid 2px #bbb;
    position: relative;
    top: -4px;
    margin-bottom: 4px;
}

#credits li a {
    border: inset 1px #bbb;
    background: white;
    padding: 4px;
}

.parent { display:  none; }

.search .parent { display: block; }

.hidden {
    display: none;
}

.file .icon {
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    background-image: url('/static/icons/48px/_blank.png');
}

{% balkview %}

{% tabelview %}

{% windows %}

{% filetypes %}